*{
    margin: 0px;
    padding: 0px;
}

a{
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: rgb(255, 254, 254);
}

#menu a:hover{
    color: rgba(201, 16, 16, 0.5);
}

#logo{
    width: 20rem;
}

#header{
    background-color: rgba(162, 163, 81, 0.158);
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /*Pega os itens do header e dá espaçamento*/
}


#menu {
    margin-right: 100px;
    display: flex;
    list-style: none;
    gap: 2rem;
}

#menu a {
    color: #34aeb4;
    display: block;
    padding: 0.8rem;
    font-size: 18px;
}

main{
    background-color: rgb(230, 194, 128);
    margin: auto;
    margin-top: 80px ;
    height: 20rem;
    width: 40rem
}
.input{
    display: flex;
    padding-bottom: 5px;
    background-color: white;

}
#litros{
    height: 25px;
    width: 100px;
    font-size: 20px;
}
#botao{
    color: white;
    background-color: green;
    border-color: white;
    margin-top: 0px;
    padding: 5px;
    height: 30px;
    border-radius:25px;
    font-size: small;
    transition-duration: 0.5s;
}
#botao:hover{
    cursor: pointer;
    color: green;
    background-color: white;
    border-color: green;
    font-weight: bold;

}

.corpo{
    background-color: red;
    height: 285px;
    width: 160px;
    padding: 0%;
    float: right;
    text-align: center;
    
    
}

.copo{
    background-color: blue;
    height: 70px;
    width: 50px;
    margin-left: 15px;
  


}
.linhas-container{
    display: inline;
    width: 480px;
    height: 285px;
    background-color: black;
}
.linhas{
    height: 95px;  
}
#linha1{
    background-color: yellow;
}
#linha2{
    background-color: purple;
}
#linha3{
    background-color: brown;
}

.copo{
    position: fixed;
    margin-top: 5px;
}