@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: rgb(253, 251, 251);
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
}

/* --------------------------------------------------- */
#header{
    
    background-color: rgba(162, 163, 81, 0.158);
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /*Pega os itens do header e dá espaçamento*/width: 100%;
}
#logo{
    max-width: 100%;
    max-height: 100%;
    height: 70px;
    margin-top: 10px;
    margin-left: 35px;
}

#lista-nav {
    margin-right: 100px;
    display: flex;
    list-style: none;
    gap: 2rem; /*Serve para dar espaçamento entre os li*/
    width: 100%;
    

}

#lista-nav a {
    color: #34aeb4;
    display: block;
    padding: 0.8rem;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
}
#lista-nav a:hover{
    color: rgba(201, 16, 16, 0.5);
    transition-duration: 0.5s;
}


/* --------------------------MAIN------------------------- */
main{
    /* background-color: rgb(230, 194, 128); 
    background-color: red; */
    margin: auto;
    margin-top: 65px ;
    height: 300px;
    width: 690px;
   
}

.input{
    display: flex;
    padding-bottom: 0.8%;
    height: 30px;
    width: 100%;

}

#litros{
    height: 85%;
    width: 15%;
    font-size: 130%;
}

#botao{
    color: white;
    background-color: green;
    border-color: white;
    height: 100%;
    width: 12%;
    margin-top: 0px;
    padding: 0.5%;
    border-radius: 25px;
    font-size: 80%;  
}

#botao:hover{
    cursor: pointer;
    color: green;
    background-color: white;
    border-color: green;
    font-weight: bold;
    transition-duration: 0.8s;
}

.corpo{
    background-color: rgb(255, 213, 136);
    background-color: rgb(248, 247, 152);
    height: 90%;
    width: 25%;
    padding: 0%;
    float: right;
    text-align: center;
    margin-left: 0px;
    overflow: hidden;
}

#img-corpo{
   height: 100%;
   width: 57%;
}

.linhas-container{
    background-color: rgb(243, 243, 243);
    background-color: rgb(245, 240, 240);
    display: inline;
    height: 90%;   
    width: 75%;
    float: left;
    padding: 0%;
}
.linhas{
    display: flex;
    height: 33.3%;
    width: 100%;
}

 /* #linha1{
    background-color: yellow;
 
}
#linha2{
    background-color: purple;
}
#linha3{
    background-color: brown;
}  */

ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}
.btn-copo{
    background-color: transparent;
    /* display: inline-block; */
    height: 85%;
    width: 83%;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 0px;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 10%;
}
.copo-vazio{ 
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
    margin-top: 10px;
}
/* -----------------------CONTEUDO---------------------------- */
/* Formatação do conteudo */
#conteudo{

    /* background-color: rgb(221, 234, 238);
    background-color: white; */
    width: 700px;
    margin: 20%;
    margin-left: 50px;
    font-family: 'Fira Sans', sans-serif;

}
#conteudo h2{
    padding-bottom: 3%;
    font-size: 28px;
    color: #616161;
    font-weight: bold;
}
#conteudo p{
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
    color: #616161;
    
}
#conteudo ul{
    list-style:disc;
    display: inline;
    font-size: 20px;   
    color: #616161; 
}
#conteudo li{
    margin-left: 5%;
}

#garrafa{
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
}
blockquote{
    text-align: right;
    font-size: 110%;
}
/* -----------------------LER MAIS---------------------------- */
#leia-mais{
    display: flex;
    background-color: rgba(235, 238, 230, 0.466);
    height: 150px;
    width: 100%;
    justify-content: space-between;
}
.pags{
    /* background-color:  grey; */
    width: 28%;
    height: 80%;
}

.nav-paginas{
    /* background-color: rgb(223, 222, 222); */
    width: 100%;
    margin-top: 0%;
}
.nav-paginas h3{
    font-size: 89%;
}
#leia-mais a{
    color: blue;
}

/* #beber-agua-emagrece{
    background: url(imagens/berber-agua-emagrece.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center; 
} */

.pags img{ 
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/* -----------------------RODAPE---------------------------- */
.rodape{
    height: 150px;
    margin-top: 200px;
    background-color: rgb(32, 32, 32);
}