*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#logo{
    width: 20rem;
    image-rendering: 320 x 100;
}

#header{
    background-color: rgba(128, 128, 128, 0.151);
    padding: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*Pega os itens do header e dá espaçamento*/
}


#menu {
    margin-right: 125px;
    display: flex;
    list-style: none;
    gap: 2rem;
}

#menu a {
    display: block;
    padding: 0.8rem;
    font-size: 18px;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: none;
    }
}
